.navList {
  display: flex;
  gap: 8px;
}

.navLink {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);

  &:hover {
    color: rgba(247, 209, 137);
  }
}

.logoutBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  border-radius: 6px;
  padding: 8px;

  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  /* Copiado del root en index.css  */
  font: 18px/145% var(--sans);
  font-weight: 500;
}

.logoutBtn:hover {
  background-color: rgba(196, 196, 196, 0.514);
  color: rgba(247, 209, 137);
}
